.main-container {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  width: 327px;
  height: 453px;
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  background-color: white;
  padding: 31px 29px;
}
.main-container-active {
  display: flex;
  flex-direction: column;
  row-gap: 12px;
  align-items: center;
  width: 327px;
  height: 453px;
  background: linear-gradient(135deg, #a2a7f0 0.06%, #696edd 100.06%);
  box-shadow: 0px 20px 40px rgba(212, 210, 244, 0.5);
  border-radius: 10px;
  padding: 31px 29px;
  transform: scale(1.1);
}

.title {
  color: #6e728e;
  font-size: 18px;
  line-height: 28px;
}
.title-active {
  color: white;
  font-size: 18px;
  line-height: 28px;
}

.currency {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.2px;
}
.currency-active {
  font-size: 40px;
  line-height: 49px;
  letter-spacing: -1.2px;
}

.price {
  color: #4a4d60;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.price-active {
  color: white;
  font-size: 72px;
  line-height: 71px;
  letter-spacing: -2.16px;
  padding-top: 12px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
  column-gap: 8px;
}

.line {
  width: 269px;
  height: 1px;
  background-color: #6e728e;
}
.line-active {
  width: 269px;
  height: 1px;
  background-color: white;
  opacity: 0.5;
}

.detail {
  color: #6e728e;
  font-size: 15px;
  line-height: 28px;
}
.detail-active {
  color: white;
  font-size: 15px;
  line-height: 28px;
}
